/*
============================================
; Title:  style.css
; Author: Karina Alvarez
; Date:   27 August 2020
; Description: CSS for portfolio project
;===========================================
*/
body {
  background-color: rgba(245, 255, 255, 0.5);
}

/* NAVBAR */
.NavBar {
  font-family: 'Josefin Sans', Arial, Verdana, sans-serif;
  color: #e8e9f3;
}

#navigation {
  background-color: #12130f;
}

/* HEADER */
.header {
  font-size: 6.5vw;
  font-family: 'Paytone One', Arial, Verdana, sans-serif;
  padding-left: 30px;
}

#Picture {
  opacity: 0.8;
}

#project {
  background-color: rgba(91, 151, 154, 0.7);
}

/* PROJECT SECTION */

.bodyText {
  padding: 20px;
}

* {
  box-sizing: border-box;
}

/* Container for flexboxes */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create three equal columns */
.column {
  flex: 30.33%;
  margin: 5px;
  background-color: white;
}

.moreBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
}

#myBtn {
  font-family: 'Josefin Sans', Arial, Verdana, sans-serif;
  background-color: #12130f;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

/* SECTIONS OF PAGE CONTENT */
#about,
#aboutTitle,
#project,
#projTitle,
#contact,
#contactTitle,
#copyright {
  font-family: 'Josefin Sans', Arial, Verdana, sans-serif;
}

#aboutTitle,
#projTitle,
#contactTitle {
  font-size: 2.5em;
}

#aboutPar,
#myProjects,
#projPar {
  font-size: 1.2em;
}

/* READ MORE BUTTON */
#myBtn {
  font-size: small;
}

#more {
  display: none;
}

/* CONTACT FORM*/
input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

/*======
; TYPEWRITTER EFFECT
; Author: W.S. Toh
; Modified by: Karina Alvarez
*/
@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 2;
  }
}

#cursor {
  animation: blink 0.8s infinite;
  font-size: xx-large;
}

#typewriterSub {
  font-family: 'Quicksand', Arial, Verdana, sans-serif;
  font-size: 2.5vw;
  font-weight: 500;
}

@media screen and (max-width: 700px) {
  #cursor {
    font-size: medium;
  }
  .row {
    flex-direction: column;
  }
  #myProjects {
    margin: 0 80px;
  }
}
